 #{extends 'main.html' /} #{set title:'Donation homepage' /}

<nav class="ui menu">
	<a class="ui item" href="/home">Home</a> <a class="ui item"
		href="/signup">Sign Up</a> <a class="ui item" href="/login">Log In</a>
	<a class="ui active item" href="/donation">Make Donation</a> <a
		class="ui item" href="/logout">Sign Out</a>
</nav>

<div class="ui segment">
	<h1 class="ui header">Welcome ${user.firstName}</h1>
	<p>
		<b> Please give generously </b>
	</p>
	<form action="/donation/donate" method="POST" class="ui form segment">
		<div class="ui two column grid">
			<div class="six wide column">
				<div class="ui basic horizontal segment">
					<p>Select an amount:</p>
					<div class="ui selection dropdown">
						<input name="amountDonated" type="hidden"> <i
							class="dropdown icon"></i>
						<div class="default text">Amount</div>
						<div class="menu">
							<div class="item" data-value="100">$100</div>
							<div class="item" data-value="500">$500</div>
							<div class="item" data-value="1000">$1000</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui basic horizontal segment">
					<div class="field">
						<div class="ui radio checkbox">
							<input name="methodDonated" value="paypal" checked="checked"
								type="radio"> <label for="methodDonated"> PayPal</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input name="methodDonated" value="direct" type="radio">
							<label for="methodDonated"> Direct</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui vertical segment">
		<button class="ui blue submit button">
			<i class="gift icon"></i> Donate
		</button>
      </div>
	</form>
	<div class="ui blue progress" id="progress">
		<div class="bar"></div>
		<div class="progress"></div>
		<div class="label">${donationprogress} % donated for Homer</div>
	</div>
</div>
<script src="@{'/public/javascripts/donate.js'}"></script>
<script> $('#progress').progress('increment','${donationprogress}');</script>
