#{extends 'main.html' /} #{set title:'Welcome to Donation' /}
<!-- navigation bar  -->
<div class="ui inverted right fixed pointing labeled icon vertical menu" style="padding-left: 20px">
  <a class="ui active item" href="/home"> <i class="huge home icon"> </i> Home </a> 
  <a class="ui item" href="/signup"><i class="user icon"> </i> SignUp</a> 
  <a class="ui item" href="/login"><i class="lock icon"> </i> Log In</a> 
   <a class="ui item" href="/admin"><i class="key icon"> </i> Admin Log</a>                <!--story10  -->
  <!-- <a class="ui item" href="/donation"><i class="gift icon"> </i> Make Donation</a>        story04 -->
  <!-- <a class="ui item" href="/donation/report"><i class="bar chart icon"></i> Report </a>   story04 -->
  <!-- <a class="ui item" href="/logout"><i class="sign out icon"> </i> Sign Out</a>           story04 -->
</div>
<!-- banner picture  -->
<div class="intro">
  <div class="ui grid">
    <div class="six wide center aligned column">
      <h1 class="sigmar">WELCOME</h1>
    </div>
  </div>
</div>
<div class="ui two column grid">
<!-- picture of a statue -->
  <div class="six wide center aligned column" style="padding-top: 60px">
    <img class="ui medium centered statue picture image"
      src="/public/images/statue of liberty2.jpg">
  </div>
<!-- end of a statue picture -->
<!-- text section -->
  <div class="ten wide center aligned column">
    <div class="bodybasic">
      <h3 class="sigmar1">
        <i> Time for a change</i>
      </h3>
      <h3 class="sigmar2">Out with Boring Abamo</h3>
      <h3 class="sigmar2">Giving has never been so easy.</h3>
      <h3 class="sigmar2">
        You may register <a class="navlink" href="/signup"> here </a> absolutely free of charge.
      </h3>
      <h3 class="sigmar2">
        If already registered just click <a class="navlink" href="/login"> here </a> to log in.
      </h3>
      <h3 class="sigmar2">Then go to the Donation page and empty your wallet</h3>
    </div>
  </div>
<!-- end of a text section -->
</div>

<script src="@{'/public/javascripts/welcome.js'}"></script>
