 #{extends 'main.html' /} #{set title:'Report for Candidate' /}
<!-- navigation bar  -->
<div class="ui inverted right fixed pointing labeled icon vertical menu" style="padding-left: 20px">
  <!--   <a class="ui item" href="/home"> <i class="huge home icon"> </i> Home </a>                                 story04 -->
  <!--   <a class="ui item" href="/signup"><i class="user icon"> </i> SignUp</a>                                    story04 -->
  <!--   <a class="ui item" href="/login"><i class="lock icon"> </i> Log In</a>                                     story04 -->
  <a class="ui item" href="/donation"><i class="gift icon"> </i> Make Donation</a> 
  <a class="ui active item" href="/donation/report"><i class="bar chart icon"></i> Report </a> 
  <a class="ui item" href="/edit"><i class="edit icon"> </i> Edit Profile</a> 
  <a class="ui item" href="/logout"><i class="sign out icon"> </i> Sign Out</a>
</div>
<div class="bodybasic3">
<!-- report table -->
  <div class="ui center aligned raised segment">
    <h3>
      <b> List Donations:</b>
    </h3>
    <table class="ui celled table">
      <thead>
        <tr class="center aligned">
          <th class="center aligned">Donors</th>
          <th class="center aligned">Age</th>                                                                   <!-- story02  -->
          <th class="center aligned">State</th>                                                                 <!-- story02  -->
          <th class="center aligned">Amount ($)</th>
          <th class="center aligned">Method donated</th>
          <th class="center aligned">Candidate</th>                                                             <!-- story07  -->
        </tr>
      </thead>
      <tbody>
        #{list items: donations, as: 'donation'}
        <tr class="center aligned">
          <td class="center aligned">${donation.from.firstName} ${donation.from.lastName}</td>
          <td class="center aligned">${donation.from.age}</td>                                                  <!-- story02  -->
          <td class="center aligned">${donation.from.state}</td>                                                <!-- story02  -->
          <td class="center aligned">${donation.amountDonated}</td>
          <td class="center aligned">${donation.methodDonated}</td>
          <td class="center aligned">
            ${donation.candidate.candidateFirstName} ${donation.candidate.candidateLastName}</td>               <!-- story07 -->
        </tr>
        #{/list}
      </tbody>
    </table>
  </div>
<!-- end of report table -->
<!-- progress bar -->
  <h4>Amount donated to support ${candidate.candidateFirstName} ${candidate.candidateLastName} for president:</h4>
  <div class="ui progress" id="progress">
    <div class="lightgreen bar"></div>
    <div class="progress"></div>
    <div class="label">${donationprogress} % target achieved</div>
  </div>
<!-- end of progress bar -->
  <div class="ui raised segment">
    <div class="ui four column grid">
<!--  story09: candidate selection dropdown -->
      <div class="four wide column">
        <div class="ui form">
          <form method="GET" action="/donation/filterCandidates">
            <div class="ui lightgreen compact form segment">
              <div class="ui selection dropdown">
                <input name="candidateEmail" type="hidden"> 
                <i class="dropdown icon"></i>
                <div class="default text">
                  <i class="star icon"></i>Select Candidate
                </div>
                <div class="menu">
                  #{list items: candidates, as: 'candidate'}
                  <div class="item"
                    data-value="${candidate.candidateEmail}">
                    ${candidate.candidateFirstName} ${candidate.candidateLastName}</div>
                  #{/list}
                </div>
              </div>
              <button class="ui black button right attached">Filter</button>
            </div>
          </form>
        </div>
      </div>
<!--  story09: end of candidate selection filter dropdown -->
<!-- story09: donor selection filter dropdown -->
      <div class="four wide column">
        <div class="ui form">
          <form method="GET" action="/donation/filterDonors">
            <div class="ui lightgreen compact form segment">
              <div class="ui selection dropdown">
                <input name="email" type="hidden"> 
                <i class="dropdown icon"></i>
                <div class="default text">
                  <i class="user icon"></i>Select Donor</div>
                <div class="menu">
                  #{list items: users, as: 'user'}
                  <div class="item" data-value="${user.email}">${user.firstName} ${user.lastName}</div>
                  #{/list}
                </div>
              </div>
              <button class="ui black button right attached">Filter</button>
            </div>
          </form>
        </div>
      </div>
<!--  story09: donor selection filter dropdown -->
<!--  story09: state selection filter dropdown -->
      <div class="four wide column">
        <div class="ui form">
          <form method="GET" action="/donation/filterStates">
            <div class="ui lightgreen compact form segment">
              <div class="ui selection dropdown">
                <input name="state" type="hidden"> 
                <i class="dropdown icon"></i>
                <div class="default text">
                  <i class="flag icon"></i>Select State</div>
                <div class="menu">
                  #{list items: users, as: 'user'}
                  <div class="item" data-value="${user.state}">${user.state}</div>
                  #{/list}
                </div>
              </div>
              <button class="ui black button right attached">Filter</button>
            </div>
          </form>
        </div>
      </div>
 <!-- end of state selection filter dropdown -->
 <!-- reset button -->
      <div class="four wide right aligned column">
        <div class="ui form">
          <div class="ui lightgreen compact form segment">
            <form method="GET" action="/donation/report">
              <i class="refresh icon"></i>
              <button class="ui black button right attached">All Donations</button>
            </form>
          </div>
        </div>
      </div>
<!-- end of reset button -->
    </div>
  </div>
</div>
<script src="@{'/public/javascripts/report.js'}"></script>
<script>
  $('#progress').progress('increment', '${donationprogress}');
</script>
