#{extends 'main.html' /} #{set title:'Log in to Donation' /}
<!-- navigation bar  -->
<div class="ui inverted right fixed pointing labeled icon vertical menu" style="padding-left: 20px">
  <a class="ui item" href="/home"> <i class="huge home icon"> </i> Home </a> 
  <a class="ui item" href="/signup"><i class="user icon"> </i> SignUp</a> 
  <a class="ui active item" href="/login"><i class="lock icon"> </i> Log In</a> 
  <!-- <a class="ui item" href="/donation"><i class="gift icon"> </i> Make Donation</a>        story04 -->
  <!-- <a class="ui item" href="/donation/report"><i class="bar chart icon"></i> Report </a>   story04 -->
  <!-- <a class="ui item" href="/logout"><i class="sign out icon"> </i> Sign Out</a>           story04 -->
</div>
<!-- banner picture  -->
<div class="intro">
  <div class="ui grid">
    <div class="four wide center aligned column">
     <h1 class="sigmar">LOG IN</h1>    
    </div>
  </div>
</div>
<div class="ui grid">
  <div class="sixteen wide center aligned column">
    <div class="bodybasic2">
<!-- login form  -->
      <div class="ui inverted lightgreen1 form segment" style="padding-top:30px" style="padding-bottom: 70px">
        <h3 class="sigmar3" style="padding-bottom: 40px">Login here. Your user name is the Email address you registered with</h3> 
          <form action="/authenticate" method="POST">
          <div class="field">
            <label> Username: </label> 
              <input type="text" name="email" placeholder="Email">
          </div>
          <div class="field">
            <label> Password: </label> 
              <input type="password" name="password" placeholder="Password">
          </div>
          <button class="ui black submit button">Login</button>
          <h1></h1>
        </form>
      </div> 
<!-- end of login form  -->
    </div> 
  </div>
</div>